.DS_Store
/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-failures
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.rebel_readline_history
/resources/js
/playground
/__local/
.cljs_node_repl/
updates.json
my-extension.zip
/resources/public
